{% extends "account/base.html" %}

{% load i18n %}
{% load account_tags %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% if not user.is_authenticated %}

{% endif %}

    <form class="well login" method="POST" action="{% url 'account_login' %}" style="margin: 20px;">
		<legend>{% trans "Sign In" %}</legend>

        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        <a class="button secondaryAction btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
    
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
    

{% endblock %}

