{% extends 'base.html' %}

{% block content %}
<div id="sortpanel">
	<h3>Projects</h3>
	<div id="sortbuttons">
		<h6>SORT:</h6>
		<div class="btn-group">
			<button type="button" class="btn"><i class="icon-calendar"></i> DATE</button>
			<button type="button" class="btn"><i class="icon-signal"></i> RATING</button>
			<button type="button" class="btn"><i class="icon-check"></i> PROGRESS</button>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div id="project-list">
	<ul class="unstyled">
		{% for project in projects %}
		<li class="row-fluid">
			<div class="span4 project-buttons btn-group">
				<button type="button" class="btn"><i class="icon-thumbs-up"></i> {{ project.like }}<br />Likes</button>
				<button type="button" class="btn"><i class="icon-tasks"></i> {{ project.progress }}%<br />Progress</button>
			</div>
			<div class="span8">
				<h3>{{ project.title }}</h3>
				<h6>POSTED BY: <span class="label label-info">{{ project.user }}</span></h6>
			</div>
			<div class="clearfix"></div>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}