{% extends 'devcup/base.html' %}
{% block title %}Propose a Project{% endblock %}
{% block css %}
{% endblock css %}
{% block content %}
	<form action="." method="POST" class="well" style="margin: 20px;">
		{% csrf_token %}
		<legend>Propose a Project</legend>

		<label>Title</label>
		{{ form.title }}

		<label>Offices</label>
		{{ form.offices }}
		<span class="help-block">Hold down "Control", or "Command" on a Mac, to select more than one.</span>
        <div class="form-row field-address">
			<div>
				<label for="id_address" class="required">Address:</label>
				<input class="google-map" type="text" name="address" value="{&quot;frozen&quot;: null, &quot;zoom&quot;: 7, &quot;markers&quot;: null, &quot;coordinates&quot;: [14.26005167522685, 120.947955078125], &quot;size&quot;: [600, 200]}" type="text" />
			</div>
        </div>
		<input type="submit" value="Submit" class="btn btn-primary btn-large"/>
	</form>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/admin/gmapsfield/admin.js"></script>
<script type="text/javascript" src="/static/admin/gmapsfield/json2.js"></script>
{% endblock %}